# Virtual environment
venv/

# Data (too large for git)
data/raw/
data/processed/

# Models
models/*.pkl
models/*.joblib

# MLflow
mlruns/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Mac
.DS_Store

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/